/* Základné variabilné písmo */
@font-face {
  font-family: 'Work Sans';
  /* Cesta k variabilnému súboru */
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  /* Rozsah váh, ktoré tento súbor dokáže zobraziť */
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

/* Variabilná kurzíva */
@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
    --color-white: hsl(0deg 100% 100%);
    --color-purple-100: hsl(275deg 100% 97%);
    --color-purple-600: hsl(292deg 16% 49%);
    --color-purple-950: hsl(292deg 42% 14%);
    --color-purple-800: hsl(292deg 63% 39%);
    --color-blue: hsl(228deg 45% 44%);
    --font-main: 'Work Sans', sans-serif;
    --font-weight-main: 400;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, p, span, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {    
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    background-image: url('/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--color-purple-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    text-rendering: optimizeLegibility;
}

.main__space {
    display: flex;
    flex-direction: column;
    margin-block-start: clamp(8.92rem, calc(8.381rem + 2.299vw), 10.45rem);
    margin-inline-start: clamp(1.5rem, calc(-7.197rem + 37.108vw), 26.2rem);
    padding-inline: clamp(1.5rem, calc(1.141rem + 1.532vw), 2.52rem) clamp(1.55rem, calc(1.216rem + 1.427vw), 2.5rem);
    height: clamp(33rem, calc(32.19rem + 3.455vw), 35.3rem);
    width: clamp(20.5rem, calc(14.514rem + 25.54vw), 37.5rem);
    background-color: var(--color-white);
    border-radius: clamp(0.5rem, calc(0.324rem + 0.751vw), 1rem);
}

.faq__main-title {
    display: flex;
    gap: 1.51rem;
    padding-block: clamp(1.5rem, calc(1.151rem + 1.487vw), 2.49rem) clamp(1.5rem, calc(1.306rem + 0.826vw), 2.05rem);
}

.title__faq {
    font-size: clamp(1.94rem, calc(1.387rem + 2.347vw), 3.50rem);
    font-weight: 700;
    letter-spacing: 0.04rem;
    color: var(--color-purple-950);
}

.title__icon {    
    width: clamp(1.5rem, calc(1.148rem + 1.502vw), 2.5rem);
}

.faq__button {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    gap: 1rem;
    border: none;
    background: none;
}

.faq__title {   
    font-size: clamp(1.00rem, calc(0.963rem + 0.160vw), 1.11rem);
    font-weight: 600;
    line-height: 1.19;
    color: var(--color-purple-950);
    cursor: pointer;
}

.faq__title:hover {
    color: var(--color-purple-800);
}

.faq__icon {
    display: flex;
}

.faq__answer {
    font-size: clamp(0.88rem, calc(0.831rem + 0.188vw), 1.00rem);
    line-height: 1.49;
    letter-spacing: -0.002rem;
    padding-block-start: clamp(1.35rem, calc(1.553rem - 0.225vw), 1.5rem);
    color: var(--color-purple-600);
    animation: slideDown 0.3s ease-out;
}

.faq__divider {
    height: clamp(0.07rem, calc(0.068rem + 0.008vw), 0.075rem);
    border: none;
    background-color: var(--color-purple-100);
    margin-block: clamp(1.25rem, calc(1.144rem + 0.451vw), 1.55rem) clamp(1.24rem, calc(1.173rem + 0.285vw), 1.43rem);
}

.faq__area:last-child hr {
    display: none;
}

/* DEFINOVANIE FOOTER */
.attribution {
    padding-block-start: 0.5rem;
    font-size: 0.6875rem;
    text-align: center;
}

.attribution-link {
    color: var(--color-blue);
}

/* Desktop version */
@media (width >= 64rem) {
    body {
        background-image: url('/background-pattern-desktop.svg');
    }

    .title__faq {
        letter-spacing: -0.02rem;
    }

    .faq__title {
        letter-spacing: 0.009rem;
    }

    .faq__answer {
        line-height: 1.5;
        letter-spacing: 0rem;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}